body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding-top: 35px; /* Add padding to move the text higher */
}

#dashboard {
    width: 80%;
}

.item {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    font-size: 1.8em; /* Slightly smaller text size */
}

.title {
    cursor: pointer;
}

.value {
    margin-left: 10px;
}

#focus-dot.blink {
    animation: blink-animation 1s steps(5, start) infinite;
}

@keyframes blink-animation {
    to {
        visibility: hidden;
    }
}

.reset {
    margin-top: 20px; /* Add some space at the bottom */
    padding: 10px 20px;
    font-size: 1.8em; /* Match the text size */
    cursor: pointer;
    color: white;
    text-decoration: underline;
}
